[submodule "Assets/Scripts/GLSH"]
	path = Assets/Scripts/GLSH
	url = https://github.com/Artromskiy/DVG.Maths.git
[submodule "Assets/Scripts/Core"]
	path = Assets/Scripts/Core
	url = https://github.com/Artromskiy/DVG.Core.git
[submodule "Assets/Scripts/Json"]
	path = Assets/Scripts/Json
	url = https://github.com/Artromskiy/DVG.Json.git
