<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Arch-PureECS" version="2.1.0" manuallyInstalled="true" />
  <package id="Arch.LowLevel" version="1.1.5" />
  <package id="Collections.Pooled" version="2.0.0-preview.27" />
  <package id="CommunityToolkit.HighPerformance" version="8.2.2" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="10.0.3" />
  <package id="Microsoft.Extensions.ObjectPool" version="7.0.0" />
  <package id="RiptideNetworking.Riptide" version="2.2.1" manuallyInstalled="true" />
  <package id="SimpleInjector" version="5.5.0" manuallyInstalled="true" />
  <package id="System.Collections.Immutable" version="10.0.3" manuallyInstalled="true" />
  <package id="System.IO.Pipelines" version="10.0.3" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" manuallyInstalled="true" />
  <package id="System.Text.Encodings.Web" version="10.0.3" />
  <package id="System.Text.Json" version="10.0.3" manuallyInstalled="true" />
  <package id="ZeroAllocJobScheduler" version="1.1.2" />
</packages>