<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommunityToolkit.HighPerformance" version="8.2.2" />
  <package id="Delta.Diagnostics" version="0.0.7" manuallyInstalled="true" />
  <package id="DeltaECS" version="0.0.41" manuallyInstalled="true" />
  <package id="DeltaECS.Generators" version="0.0.41" manuallyInstalled="true" />
  <package id="DeltaMaths" version="0.0.14" manuallyInstalled="true" />
  <package id="DeltaNetcode" version="0.0.4" manuallyInstalled="true" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="10.0.3" />
  <package id="Microsoft.Extensions.ObjectPool" version="7.0.0" />
  <package id="RiptideNetworking.Riptide" version="2.2.1" manuallyInstalled="true" />
  <package id="SimpleInjector" version="5.5.0" manuallyInstalled="true" />
  <package id="System.Collections.Immutable" version="10.0.3" manuallyInstalled="true" />
  <package id="System.IO.Pipelines" version="10.0.3" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" manuallyInstalled="true" />
  <package id="System.Text.Encodings.Web" version="10.0.3" />
  <package id="System.Text.Json" version="10.0.3" manuallyInstalled="true" />
  <package id="ZeroAllocJobScheduler" version="1.1.2" />
</packages>